#image{
	height: 365px;
	width: 519px;
	margin-top: -25%;
	margin-left: -9%;
}
#bhaia{
	height: 200px;
	width: 300px;
	margin-top: -56%;
}
#art{
	height: 200px;
	width: 300px;
	margin-top: -71%; 
}
#hari{
	height: 200px;
	width: 300px;
	margin-top: -86%;
}
#mia{
	height: 200px;
	width: 300px;
	margin-top: -101%;
}
#adak{
	height: 200px;
	width: 300px;
	margin-top: -139%;
}
#sect{
	margin-top: 49%;
	margin-left: 16%;
}
#para1{
	margin-top: 26%;
}
#para2{
	margin-top: 21%;
}
#para3{
	margin-top: 23%;
}
#para4{
	margin-top: 23%;
}
#para5{
	margin-top: 6%;
}